language: java
jdk: 
    - openjdk8
branches:
    only:
        - master
     
cache:
    directories:
        - '$HOME/.m2/repository'
        - '$HOME/.gradle'
before_install:
    - chmod +x ./gradlew 
script: "./gradlew clean build"


before_deploy:

    #- zip -r homepage *
   # - mkdir -p deploy
   # - mv homepage.zip deploy/homepage.zip
   # before-deploy는 배포 파일만 선별
    - mkdir -p before-deploy
    - cp scripts/*.sh before-deploy/       # deploy.sh
    - cp appspec.yml before-deploy/        # apspec.yml - codedeploy 설정
    - cp build/libs/*.war before-deploy/   # springboot-webservice-xxx.war 
    
    - cd before-deploy && zip -r before-deploy *
    
    - cd .. && mkdir -p deploy
    - mv before-deploy/before-deploy.zip deploy/homepage.zip
   
deploy:
    - provider: s3
      access_key_id: $AWS_ACCESS_KEY
      secret_access_key: $ACCESS_SECRET_KEY
      bucket: janghyun2-homepage
      region: ap-northeast-2                        
      skip_cleanup: true
      acl: private
      local_dir: deploy
      wait-until-deployed: true
      
      
    - provider: codedeploy
      access_key_id: $AWS_ACCESS_KEY
      secret_access_key: $ACCESS_SECRET_KEY
      bucket: janghyun2-homepage
      key: homepage.zip
      bundle_type: zip
      application: homepage
      deployment_group: homepage-group
      region: ap-northeast-2
      wait-until-deployed: true   
      
       



notification:
    email:
        recipients:
            - mskjh6@naver.com